@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body {
  height:100%;
  background-color: #FFF7E9;
  font-family: Open Sans, Arial, sans-serif;
  font-size: 14px;
  color: #434A54;
  font-weight: 400;
}

.dayview, ng-include, #days, #main {
  height: 100%;
  width: 100%;
}

.dayview-info, #parkedActivityHeader {
  height: 10%;
  margin-bottom: 20px;
  margin-top: 10px;
}

#parkedActivityHeader {
  text-align: center;
  position: relative;
  top: 5%;
  transform: translateY(-5%);
}

td{
  padding-right: 10px;
}

.bold {
  font-weight: 600;
}

.dayview-main, #parkedActivityList {
  min-height: 20%;
  border-radius: 5px;
  background-color: #FFF;
  padding: 10px;
  overflow:auto;
}

.container-fluid {
  height: 100%;
  width: 100%;
}

.activityGraphics {
  position:relative;
  padding-top:10px;
  padding-bottom: 1px;
}

#activityItem {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#activityItem:hover{
  cursor: pointer;
}

#activityItemName{
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
  font-weight: 600;
}

#new-day {
  min-width: 100vh;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.btn-danger, .progress-bar-danger, .color-red{
  background-color: #ED5565;
}

/** Break */
.btn-warning, .progress-bar-warning, .color-yellow{
  background-color: #FFCE54;
}

.btn-success, .progress-bar-success, .color-green{
  background-color: #A0D468;
}

.btn-info, .progress-bar-info, .color-blue {
  background-color: #4FC1E9;
}

/** Distribution diagram */
#distribution-divider::after {
  content:"";
  position: absolute;
  top: 10%;
  bottom: 30%;
  left: 30%;
  border-left: 2px solid #ff0000;
}


