html, body {
  height: 100%;
  background-color: rgba(134, 78, 255, 0.11);
}

#parkedActivityList {
  height:100%;
  background-color: blue;
  color: yellow;

}

#main {
  height: 100%;

  white-space:nowrap;
    overflow-x: scroll;
  overflow-y: hidden;
}

.container-fluid {
  height: 100%;
}

#activity-view {
  height: 95%;
}

.day {
      display:inline-block;
}
