#parkedActivityList {
  height:100%;
  background-color: blue;
  color: yellow;
}

html, body {
  height:100%;
  background-color: rgba(134, 78, 255, 0.11);
}

.dayview, ng-include, #days, #main {
  height: 100%;
  width: 100%;
}

.dayview-info {
  height: 10%;
  margin-bottom: 30px;
}

.dayview-time {
  padding: 5px;
}

.dayview-main {
  height: 90%;
  border-radius: 10px;
  background-color: white;
}

.container-fluid {
  height: 100%;
}

#activity-view {
  height: 100%;
}