#parkedActivityList {
  height:100%;
  background-color: blue;
  color: yellow;
}

html, body {
  height:100%;
  background-color: rgba(134, 78, 255, 0.11);
}

.dayview, ng-include, #days {
  height: 100%;
  width: 100%;
}

.dayview {
  border: solid;
}

.dayview-info {
  height: 10%;
}

.dayview-time {
  padding: 5px;
}

.dayview-main {
  height: 90%;
  border-radius: 10px;
  background-color: white;
}