<h1 class="text-center"> Activity options</h1>
<!--Quotes -->
<div class="quote-container text-center">
  <span us-spinner  spinner-on="showSpinner"></span>
  <div>{{qStatus}}</div>
  <em><div ng-bind-html="quote"></div></em>
  <div class="author-container"><strong>{{author}}</strong></div>
</div>

<!--Form-->
<form ng-submit="saveActivity(activityTitle, activityLength, activityTypeID, activityDescription); closeThisDialog();">

  <fieldset class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" ng-model="activityTitle" required></input>
  </fieldset>
  <fieldset class="form-group">
    <label for="length">Length (min)</label>
    <input type="number" class="form-control" id="length" ng-model="activityLength" required></input>
  </fieldset>
  <fieldset class="form-group">
    <label for="activityType">Type</label>
    <select class="form-control" id="ActivityType" ng-model="activityTypeID">
      <option ng-repeat="type in getActivityTypes()">{{type}}</option>
    </select>
  </fieldset>
  <fieldset class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" rows="3" ng-model="activityDescription"></textarea>
  </fieldset>

  <button type="submit" class="btn btn-info">Save</button>
  <button type="button" ng-click="closeThisDialog()" class="btn btn-default">Cancel</button>

  <button ng-show="!isNewActivity" class="btn btn-danger delete-activity" ng-click="deleteActivity(); closeThisDialog()">Delete
  </button>
</form>
