<div class="dayview">
    <div class="dayview-info">
	    <!-- Should probably not appear until input is finished. -->
	    <div class="alert alert-warning" ng-show="timeForm.input.$error.time">Please enter starting time on the form
		    <strong>HH:MM</strong>.
	    </div>
	    <table class="dayview-time">
		    <tr>
			    <td>Start time</td>
			    <td>
				    <form name="timeForm"><input id="start-time" name="input" type="time" class="dayview-startTime"
				                                 placeholder="08:00" ng-model="dayStartTime"
				                                 ng-change="setDayTimeStart(dayStartTime)"></form>
			    </td>
		    </tr>
		    <tr>
			    <td>End time</td>
			    <td>{{getDayTimeEnd()}}</td>
		    </tr>
		    <tr>
			    <td>Total length</td>
			    <td>{{getDayLength()}} min</td>
		    </tr>
	    </table>
        <div class="activityGraphics">
          <div id="distribution-bar" class="progress">
            <span id="distribution-divider"></span>
            <span class="distribution-component" ng-repeat="component in getDistributionComponents() track by $index">
              <div class="progress-bar progress-bar-{{getComponentStyle($index)}}" role="progressbar" style="width:{{component}}%">
              </div>
            </span>
          </div>
        </div>
    </div>


    <div class="dayview-main">
        <div ng-repeat="activity in getDayActivities()">
            <h1>{{getActivityTime($index)}}</h1>
            <a ng-href="" type="button" class="btn btn-default" ng-click="openDialog(activity, $index)">{{activity.getName()}}</a>
        </div>
    </div>
</div>
