<div id="activity-view" >
	<div id="parkedActivityHeader">
		<a data-intro="Create new activities here" data-position="right" ng-click="$root.showHelp = false; openDialog();" class="btn btn-default">Add activity</a>
		<button ng-controller="LoginCtrl" class="btn" ng-click="logout()">Log out</button>

		<button ng-click="$root.showHelp = true" class = "btn">Help</button>

		<table id="cheat-sheet">
			<tr>
				<td><div class="color-blue color-box"></div></td>
				<td> Presentation </td>
				<td><div class="color-red color-box"></div></td>
				<td> Group work </td>
			</tr>
			<tr>
				<td><div class="color-green color-box"></div></td>
				<td> Discussion </td>
				<td><div class="color-yellow color-box"></div></td>
				<td> Break </td>
			</tr>
		</table>
	</div>

	<div ng-if="getParkedActivities().length == 0" ng-drop="true" ng-drop-success="onDropComplete($data, $event, null)" id="parkedActivityList"></div>

		<div class="test-cell">
			<div class="test-table">
				<div ng-if="getParkedActivities().length > 0" id="parkedActivityList">

					<div ng-drag="true" ng-drag-data="$root.showHelp = false; getDataWithPos(activity, $index)" ng-drop="true", ng-drop-success="onDropComplete($data,$event, $index)" ng-repeat="activity in getParkedActivities()" id="activityItem"  >
						<span id="activityLabel">{{activity.getLength()}} min </span>

						<span ng-show="$index == 0" id="activityName"
					      class="color-{{getColor(activity.getTypeId())}}" data-intro="Try dragging the activity around!" data-position="bottom">{{activity.getName()}}</span>

						<span ng-show="$index == 0" id="activityIcon" data-intro="Edit activity" data-position="right" ng-show="$index == 0"><span class="glyphicon glyphicon-pencil" ng-click="openDialog(activity, $index)"></span></span>

						<span ng-show="$index > 0" id="activityName"
					      class="color-{{getColor(activity.getTypeId())}}">{{activity.getName()}}</span>

						<span ng-show="$index > 0" id="activityIcon" ><span class="glyphicon glyphicon-pencil" ng-click="openDialog(activity, $index)"></span></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
